.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}
div {
  width: 100vw;
  height: 100vw;
  color: white;
  text-align: center;
}
