.red {
  background-color: red;
  color: white;
}
.yellow{
  background-color: yellow;
}
.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}
.greenyellow{
  background-color: greenyellow;
}
//изменение цвета кругов
.red-field {
  background-color: red;
}

.blue-field {
  background-color: blue;
}

.green-field {
  background-color: green;
}

.orange-field {
  background-color: orange;
}

.yellow-field {
  background-color: yellow;
}

.greenyellow-field {
  background-color: greenyellow;
}
//изменение цвета полей на макете
#content {
  width: 100vw;
  height: 100vh;
  color: white;
}

.znach_button {
  text-align: center;
}

.round-button {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  border: none;
  cursor: pointer;
}

.size-opisania {
  width: 35%;
  height: auto;
  margin: 5px;
  padding: 5px;
  white-space: pre-wrap;
  resize: vertical;
  overflow: auto;
  text-align: center;
  text-align: center;
}
.size-name{
  width: 30%;
  text-align: center;
  text-align: center;
}

.information {
  width: 35%;
  height: auto;
  margin: 5px;
  padding: 5px;
  white-space: pre-wrap;
  resize: vertical;
  overflow: auto;
  text-align: center;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

li {
  flex-grow: 1;
  margin-right: 10px;
}

button {
  width: 100%;
}

ul {
  width: 100%;
  list-style-type: none; //не будет отображаться никакого маркера перед элементами списка
  margin: 5px; //отступы по сторонам равны 0
  margin-right: 10px;// отсупы между элементами внутри шапки
  padding: 15px; //отступы внутри равны 0
  display: flex; // управление расположениеам элементов
  width: 100%; // ширина элемента равна ширине родительского контейнера
}
